<div class="contacto">
<div>
          <h2>Contacto Rápido</h2>
          <form action="" method="" class="formulario">
              <p>
                  <label for="">Nombre</label>
                  <input type="text"/>
              </p>
              <p>
                  <label for="">Email</label>
                  <input type="email"/>
              </p>
              <p>
                  <label for="">Teléfono</label>
                  <input type="text">
              </p>
              <p>
                  <label for="">Mensaje</label>
                  <textarea name="" id=""></textarea>
              </p>
              <input type="submit" value="Enviar">
          </form>
      </div>
      <div class="datos">
          <h2>Otras vias de comunicación</h2>
          <p>Tambien puede contactarse con nosotros usando los siguientes medios</p>
          <ul>
              <li>Telefono: 125445</li>
              <li>Mail:</li>
              <li>Instagram:</li>
              <li>Facebook:</li>
              <li>Twiter:</li>
          </ul>
      </div>
</div>  