<h2>Galeria</h2>
        <div class="galeria">
            <img src="images/galeria/ch/img01.jpg" alt="camión">
            <img src="images/galeria/ch/img02.jpg" alt="camión">
            <img src="images/galeria/ch/img03.jpg" alt="camión">
            <img src="images/galeria/ch/img04.jpg" alt="barco">
            <img src="images/galeria/ch/img05.jpg" alt="barco">
            <img src="images/galeria/ch/img06.jpg" alt="tren">
            <img src="images/galeria/ch/img07.jpg" alt="tren">
        </div>