<div>
            <img src="images/home/img01.jpg" alt="avión">
        </div>
        <div class="columnas">
            <section class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt voluptas aut aliquid aspernatur
                    numquam, corrupti doloremque magnam debitis quo, accusantium sit eligendi repellat, laudantium
                    reprehenderit nobis eum. Similique, blanditiis qui.
                </p>
            </section>
            <section class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente Excelente</span>
                    <span class="autor">Juan Gomez - zapatos.com</span>
                </div>

            </section>
        </div>
