<section class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dicta sit minus, optio sequi rerum laudantium porro ut facilis obcaecati ipsum quidem iste, iure in consequatur, quis dignissimos illo fugit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quasi alias enim excepturi magni. Libero, explicabo dicta at omnis labore consectetur, amet laudantium tempore magni harum, asperiores iusto suscipit dolorem.</p>
        </section>
        <section class="staff">            
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet optio dolore fugiat architecto consectetur cupiditate rerum accusamus! Quas error, voluptatem, accusamus, officiis asperiores in explicabo non iusto similique aliquam dolore!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Diana Reyes">
                    <h5>Diana Reyes</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet optio dolore fugiat architecto consectetur cupiditate rerum accusamus! Quas error, voluptatem, accusamus, officiis asperiores in explicabo non iusto similique aliquam dolore!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Roberto Zavala">
                    <h5>Roberto Zavala</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet optio dolore fugiat architecto consectetur cupiditate rerum accusamus! Quas error, voluptatem, accusamus, officiis asperiores in explicabo non iusto similique aliquam dolore!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Sandra Mastroloi">
                    <h5>Sandra Mastroloi</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet optio dolore fugiat architecto consectetur cupiditate rerum accusamus! Quas error, voluptatem, accusamus, officiis asperiores in explicabo non iusto similique aliquam dolore!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Luciano Gomez">
                    <h5>Luciano Gomez</h5>
                    <h6>Gerente de Logística</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet optio dolore fugiat architecto consectetur cupiditate rerum accusamus! Quas error, voluptatem, accusamus, officiis asperiores in explicabo non iusto similique aliquam dolore!</p>
                </div>
            </div>
        </section>