<h2>Novedades</h2>
{{#each novedades}}
        <div>
            <h3>{{titulo}}</h3>
            <h4>{{subtitulo}}</h4>
            <p>{{cuerpo}}</p>
            <hr/>
        </div>
         {{/each}}
        <div>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum ad maiores sunt debitis, suscipit animi quia aut minus odit ipsum adipisci est fuga vel reiciendis recusandae eum nihil dicta! Sint.</p>
            <hr/>
        </div>
       
        <div>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum ad maiores sunt debitis, suscipit animi quia aut minus odit ipsum adipisci est fuga vel reiciendis recusandae eum nihil dicta! Sint.</p>
            <hr/>
        </div>